server:
  port: 8080

spring:
  main:
    web-application-type: reactive
  devtools:
    restart:
      enabled: true
      poll-interval: 1s
      quiet-period: 400ms
    livereload:
      enabled: true

logging:
  level:
    reactor.netty: INFO

